<h2>Recipe 1</h2>

<h3>Mash</h3>
<div class="table-fluid">
	<table class="table">
		<tr>
			<th>Grain</th>
			<th>Amount</th>
			<th>Unit</th>
		</tr>
		<tr>
			<td>Pale Ale</td>
			<td>5.6</td>
			<td>kg</td>
		</tr>
	</table>
</div>
<h4>Steps</h4>
<div class="table-fluid">
	<table class="table">
		<tr>
			<th>Rest</th>
			<th>Time</th>
		</tr>
		<tr>
			<td>Sugar rest</td>
			<td>60 min</td>
		</tr>
	</table>
</div>

<h3>Hops</h3>
<div class="table-fluid">
	<table class="table">
		<tr>
			<th>Hops</th>
			<th>Amount</th>
			<th>Unit</th>
			<th>Time</th>
		</tr>
		<tr>
			<td>Cascade</td>
			<td>200</td>
			<td>g</td>
			<td>T-60</td>
		</tr>
	</table>
</div>